@import "./colors.css";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark-theme (&:where(.dark-theme, .dark-theme *));

@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    @apply transition-colors ease-in-out;
  }
}