@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "uniwind";
@import 'heroui-native/styles';
@import "@nocharge/tailwind/preset.css";

@source '../node_modules/heroui-native/lib';
